@import url('http://fonts.cdnfonts.com/css/rubik');

/*rubik fonts --- similar poppins*/

*, html, body { 
    font-family: "Rubik", sans-serif; 
    align-items: center;
    align-self: center;
    margin: auto;
}

#table {
    padding-inline: auto;
    max-width: 25rem;
    padding: auto;
    border-radius: 40px !important;                       /* not working */
    border-width: 5px !important;                        /* not working */
    border: rgba(50, 50, 50, 0.9) !important;          /* not working */
    padding-top: 1%;
    margin: 0px auto;
}

main {
    margin: auto;   /*magic*/
    margin-top: auto;
    border: 20px;
}

::-webkit-scrollbar {
    display: none;
/*    background-color: #999;
    color: #000;  */
}/*
::-webkit-scrollbar-button {
    background-color: #000;
}*/

#bodyS {
    margin: 1rem;
}

.responsiveH {
    text-transform: uppercase;
}

.card-img-top {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#playerCardImage {
    align-items: center;
    align-self: center;
    width: 150px;
    height: 150px;
    margin: auto;
    object-fit: cover;
  }


 @media all and (max-width:768px){
  #playerCardImage {
    width: 110px;
    height: 110px;
    object-fit: cover;
  }
 }

 @media screen and (max-width: 950px) {
    #Table {
        padding-top: 7rem;
    }
 }

 @media screen and (max-width: 850px) {
    #Table {
        padding-top: 10rem;
    }
 }

 @media screen and (max-width: 600px) {
    #Table {
        padding-top: 14.5rem;
    }
 }
 @media screen and (max-width: 450px) {
    #Table {
        padding-top: 16rem;
    }
 }

/**fine resize, sarie ora*/
